
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 1100px;
  margin: 0px auto;
}
/* header area start  */

.col-md-12 {
  text-align: center;
  padding: 20px 0px;
}
.col-md-12 h2 {
  line-height: 40px;
  font-size: 18px;
  font-weight: 400px;
  font-weight: 400;
}
/* header area end  */

a {
  color: cornsilk;
  padding: 20px;
  text-decoration: none;
}

.nav-bar-area {
  background-color: black;
}
.nav-bar-area-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.col-md-4 {
  padding: 10px;
  gap: 36px;
  justify-content: right;
}
ul {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
/* blog area section start */
      
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  gap: 10px;
  border-radius: 4px;
  background: #F00;
}

   /* header area section start */
.container.blog-content {
  display: flex;
  gap: 30px;
}
.left-side {
  width: 70%;
}
.right-side {
  width: 30%;
}

.top-header.h1 {
  margin: 30px;
  padding: 1;
}
.top-header {
  margin: 30px;
}
.top-header h1 {
  padding: 20px;

}
  /* header area end */
  .blog-area .btn{
    margin-top: 20px;
  }
  .blog-area h1 {
    margin-top: 20px;
  }
  .blog-area p {
    margin-top: 20px;
  }
  /* final area start */
  
.final-blog-section {
  margin-top: 40px;
}

.final-blog-section h1 {
  margin-top: 20px;
}
.final-blog-section p{
  margin-top: 20px;
}
.final-blog-section img{
  margin-top: 20px;
}

.final-blog-section-part-1 {
  display: flex;
  margin-top: 20px;
}
.final-blog-section-part-2 {
  display: flex;
  margin-top: 20px;
}

.first-div.btn {
  margin-top: 20px;
}
.first-div.btn {
  margin-top: 20px;
}
button.btn {
  margin-top: 20px;
}
.first-div h1 {
  margin-top: 20px;
}
.first-div p {
  margin-top: 20px;
}
/* final area end */


/* blog area section end */
@media(max-width:1000px){

}